.main-header .navbar-toggle {
    margin: 0.5%;
}

.main-header .navbar-toggle .icon-bar {
    background-color: #232d33;
}
.main-header .navbar-toggle:active, .navbar-toggle:hover {
    background-color: #57707f;
}
.main-header .navbar-toggle:active .icon-bar, .navbar-toggle:hover .icon-bar {
    background-color: #fff;
}

.lang_dropdown {
    float: right;
    height: 50px;
    max-height: 50px;
    line-height: 50px;
}

.lang_dropdown img {
    height: 30px;
    max-height: 30px;   
}
.lang_dropdown .dropdown-menu img {
    margin: 0 auto;
    display: block;
    margin-bottom: 5px;
}

.lang_dropdown button {
    background-color: transparent;
}

.lang_dropdown .dropdown-menu {
    min-width: 50px;
}

.lang_dropdown .dropdown-menu >li >a {
    padding: 0;
}

@media (max-width: 788px) {
    .main-header .navbar-custom-menu  .logo {
        width: 100%;
        float: none;
    }
}

.d-desktop {
    display: block!important;
}
.d-mobile {
    display: none!important;
}

@media (max-width: 991px) {
    .d-desktop {
        display: none!important;
    }
    .d-mobile {
        display: block!important;
    }
    .navbar-collapse {
        width: 100%;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .navbar-toggle {
        display: block!important;
    }
    .float-md-none {
        float: none!important;
    }
    #stonegain_nav ul, #stonegain_nav li{
        float: none;
        width: 100%;
        /* display: block; */
        text-align: center;
    }
}

#account_nav > li {
    background: #222d32;
}
#account_nav > li  > a:hover, 
#account_nav > li  > a:active, 
#account_nav > li  > a:focus {
    background: #5e757f;
    color: #fff;
}

#stonegain_nav > ul > li.user_detail_nav > a:hover, 
#stonegain_nav > ul > li.user_detail_nav > a:active, 
#stonegain_nav > ul > li.user_detail_nav > a:focus {
    background: #222d32;
    color: #fff;
}

#account_nav a:hover,
#account_nav a:active,
#account_nav a:focus {
    background: #222d32;
    color: #fff;
}


.main-header {
    max-height: none;
}

.footer_title {
    height: 50px;
    display: flex;
}

.footer_title span {
    align-self: flex-end;
}

body, .wrapper {
    overflow: visible;
}

.address_container {
    margin-bottom: 10px;
}
@media (min-width: 992px) {
    .address_container {
        padding-right: 10px;
        margin: auto;
    }
}

.formTable.smaller td {
    font-size: 1.5rem! important;
}

@media (max-width: 991px) {
    .content-with-header {
        height: calc(130vh - 100px - 200px) !important;
    }
}

.message-button {
    font-size: 2rem;
}

.trade_management_tab {
    margin-bottom: 20px;
    overflow: auto;
}

@media (max-width: 767px) {
    .label-height {
        height: 55px;
    }
}